body {
    font: 100% "Armata", Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; display: block; font-weight: normal; }

header {
    width: 100%;
    z-index: 10;
}


section {
    width: 100%;
}

#sobre {
    background-image: url('../images/javascript.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre {
    margin-top: 60px;
}

.cursos p {
    margin-top: 5px;
    padding-top: 10px;
}

#habilidades {
    margin-top: -32px;
}

#habilidades, footer {
    background-image: radial-gradient(circle, #3490dc00,  #343a40, black);
}


#habilidades svg {
    margin: 10px;
}

#habilidades, #interesses, #contato {
    padding-top: 62px;
}

#sobre img {
    border-radius: 40px;
    margin-bottom: 5px;
}

#interesses, #contato, .title-dev, .description-dev {
    /* background-image: radial-gradient(circle, #e1e6eb,  #343a40, black); */
    background-image: linear-gradient(to right, rgba(172, 166, 166, 0.062), rgb(0, 0, 0));
}

#interesses p {
    font-size: 17px;
}

#interesses h2 {
    padding-top: 34px;
}

.sobre p img {
    margin: 12px;
}

.font-menu {
    font-size: 17px;
    text-align: center;
}

.bem-vindo, #habilidades h1, h2, #sobre h1 {
    font-family: "armata","Times New Roman", Times, serif;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: -0.01em;
    /* font-style: italic; */
    line-height: 1.30em;
    margin: 0 0 1.35em 0;
}

footer {
    margin-top: -48px;
}

@media (max-width: 340px) {
    #sobre img {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .nav-button {
        display: none;
    }
}