body {
    font: 100% "Armata", Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; display: block; font-weight: normal; }

header {
    width: 100%;
    z-index: 10;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.titulo-dev {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.title-dev {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 40px !important;
}

.titulo-dev p {
    margin: 45px;
    color: #00b8e4;
    text-transform: uppercase;
}

.titulo-dev h1 {
    margin: 20px;
}

#sobre {
    padding-top: 100px;
    background-image: url('../images/laptop1.jpg');
    /* position: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.sobre {
    margin-top: 60px;
}

.cursos p {
    margin-top: 5px;
    padding-top: 10px;
}

#habilidades {
    margin-top: -32px;
    color: #FFF;
}

#habilidades {
    /* background-color: #000; */
    background-image: url("../images/laptop3t.jpg");
    background-attachment: fixed;
    /* background-image: radial-gradient(circle, #3490dc00,  #343a40, black); */
}

.section-main {
    height: 100vh;
}

.card {
    color: #FFF;
    background-color: #000;
}

.card-sobre {
    min-height: 100vh;
    max-height: 200vh;
    background-color: #000;
    box-sizing: border-box;
    padding: 10px;
}

.card-interesses {
    min-height: 100vh;
    max-height: 230vh;
    padding: 20px;
}

body > div.card-sobre > div > div > div:nth-child(1) > p > a:nth-child(2) > img {
    background-color: #0099;
}

.description-dev {
    color: #FFF;
}

#habilidades svg {
    margin: 10px;
}

#habilidades, #interesses, #contato {
    padding-top: 62px;
}

#sobre img {
    border-radius: 40px;
    margin-bottom: 5px;
}

#contato {
    background-image: url("../images/laptop5.jpg");
    background-attachment: fixed;
    color: #FFF;
}

#interesses h2 {
    padding-top: 34px;
}

.sobre p img {
    margin: 16px;
}

.font-menu {
    font-size: 17px;
    text-align: center;
}

.font-menu ul li a {
    color: #EEE !important;
}

.font-menu ul li a:hover {
    transition: 1.5s;
    color: #FFF !important;
}

.bem-vindo, #habilidades h1, h2, #sobre h1 {
    font-family: "armata","Times New Roman", Times, serif;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: -0.01em;
    /* font-style: italic; */
    line-height: 1.30em;
    margin: 0 0 1.35em 0;
}

footer {
    margin-top: -48px;
}


@media (max-width: 340px) {
    #sobre img {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .nav-button {
        display: none;
    }
}