body {
    position: relative;
    z-index: 1;
}

header {
    width: 100%;
    z-index: 10;
}

section {
    width: 100%;
}

.sobre {
    margin-top: 60px;
}

.cursos p {
    margin-top: 5px;
    padding-top: 10px;
}

#habilidades svg {
    margin: 10px;
}

#habilidades {
    padding-top: 60px; 
}

.sobre p img {
    margin: 12px;
}

.font-menu {
    font-size: 17px;
    text-align: center;
}

.bem-vindo, #habilidades h1, h2 {
    font-weight: bold;
}

@media (min-width: 575px) {
    .nav-button {
        display: none;
    }
}